extends layout

block content
  h1
    a(href="/")
      img#back(src='/images/back.png')
    | #{title} : features and expiration date

  table#pickle.table.table-hover.table-striped.table-bordered
    thead
      tr
        th feature
        th version
        th # licenses
        th expires
        th vendor
    tbody
      for license in licenseList
        tr
          td(scope="row")= license.feature
          td= license.version
          td= license.num_licenses
          td= license.expires
          td= license.vendor
