extends layout

block content
  h1= title

  table.table(class="table-striped")
    thead
      tr
        th feature
        th version
        th # licenses
        th expires
        th vendor
      for license in licenseList 
        tr
          td= license.feature
          td= license.version
          td= license.num_licenses
          td= license.expires
          td= license.vendor
