extends layout

block content
  h1
    a(href='/') <

  h1 #{title} - Current Usage (#{server})

  table#pickle.table.table-hover.table-striped.table-bordered
    thead
      tr
        th feature
        th # total
        th # available
        th # in use
        th user(s)
        th usage start time
        th ip address
    tbody
      for license in licenseList
        tr
          td(scope="row")= license.feature
          td= license.total
          td= license.available
          td= license.in_use
          td
            for user in license.users
              | #{user.user}
              br
          td
            for user in license.users
              | #{user.usage_time}
              br
          td
            for user in license.users
              | #{user.ip_address}
              br
